/**--------------------------------------------------------------------------------
* Base Colors
--------------------------------------------------------------------------------*/
$white: #ffffff;
$black: #000000;
$red: #e1211b;
$green: #4fb961;
$blue: #2f86f1;
$turqu :#00a4ab;

/*Social*/
$facebook: #4652A0;
$twitter: #47A5F0;

/* Yazılarda Kullanılan Griler */
$lightGray: #767676;
$midGray: #434343;
$darkGray: #222222;

/* Arkaplanda Kullanılan Griler */
$bgLightGray: #F2F2F2;
$bgMidGray: #EAEAEA;
$bgDarkGray: #E6E6E6;

/*button*/
$btnWhiteborder:#c4c4c4;
$btnGrayborder:#C3C3C3;
$btnRedHover: #d41612;
$btnRedFocus: #e85651;
$btnWhiteHover: #e3f2ff;
$btnWhiteFocus: #e6eefb;
$btnDisabledBg: #dfdfdf;
$btnDisabledTxt: #9e9e9e;
$btnLinkHover: #00a4ab;
$color: transparent;

/*form*/
$placeholder :#9f9f9f;

/*Socail Media Buttons*/
$youtube: #FF0000;
$facebok: #375C9E;
$twitter: #00ABE5;
$googlePlus: #F44539;
