// hemlak
@font-face {
	font-family: 'hemlak';
	src:  url('~@/assets/font/hemlak/hemlak.eot?jtjgn8');
	src:  url('~@/assets/font/hemlak/hemlak.eot?jtjgn8#iefix') format('embedded-opentype'),
	  url('~@/assets/font/hemlak/hemlak.ttf?jtjgn8') format('truetype'),
	  url('~@/assets/font/hemlak/hemlak.woff?jtjgn8') format('woff'),
	  url('~@/assets/font/hemlak/hemlak.svg?jtjgn8#hemlak') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
  }

  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'hemlak' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }

  .icon-104:before {
	content: "\e900";
  }
  .icon-102:before {
	content: "\e901";
  }
  .icon-101:before {
	content: "\e902";
  }
  .icon-103:before {
	content: "\e903";
  }
  .icon-100:before {
	content: "\e904";
  }
  .icon-home:before {
	content: "\e905";
  }
  .icon-googleplus:before {
	content: "\ea8b";
  }
  .icon-facebook:before {
	content: "\ea91";
  }
  .icon-twitter:before {
	content: "\ea96";
  }
  .icon-youtube:before {
	content: "\ea9d";
  }
  .icon-apple:before {
	content: "\eabe";
  }
