@import "variables";

/*--------------------------------------------------------------------------------
* sample use
--------------------------------------------------------------------------------*/
.deneme {
    color: $red;
    @include smooth(.3s);

    @include breakpoint(lg) {
        display: none;
    }

    @extend .fontRT;
}

/*--------------------------------------------------------------------------------
* Base Rules
--------------------------------------------------------------------------------*/
body,
html {
    font-family: Roboto, sans-serif;
    font-size: 14px;

    a {
        color: $blue;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

/*--------------------------------------------------------------------------------
* vuejs animation classes
*https://vuejs.org/v2/guide/transitions.html
--------------------------------------------------------------------------------*/
/*fade*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/*slidedown*/
.vueslide-enter-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.vueslide-leave-active {
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.vueslide-enter-to,
.vueslide-leave {
    max-height: 100px;
    overflow: hidden;
}

.vueslide-enter,
.vueslide-leave-to {
    overflow: hidden;
    max-height: 0;
}

/*--------------------------------------------------------------------------------
* Buttons
--------------------------------------------------------------------------------*/
.btn {
    padding: 12px;
    color: $white;
    border-radius: 4px;
    white-space: nowrap;
    @include smooth(.3s);
    font-size: 14px;
    border-style: solid;
    border-width: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: inline-block;
    pointer-events: all;
    position: relative;
    line-height: 14px;
    align-self: baseline;

    .material-icons {
        line-height: 1px;
        vertical-align: middle;
        margin-top: -2px;
    }

    &.btn-white {
        background: $white;
        border-color: $btnWhiteborder;
        color: $blue;

        &:hover {
            background: $btnWhiteHover;
        }

        &:focus {
            background: $btnWhiteFocus;
        }

        &.btn-trans {
            color: $white;
            border-color: $white;

            &:hover {
                color: $btnDisabledTxt;
            }
        }

        &.btnGrayborder {
            border-color: $btnWhiteborder;
        }
    }

    &.btn-red {
        background: $red;
        border-color: $red;
        @extend .fontRR;

        &:hover {
            background: $btnRedHover;
        }

        &:focus {
            background: $btnRedFocus;
        }

        &.btn-trans {
            color: $red
        }
    }

    &.btn-trans {
        background: transparent;

        &:hover {
            color: $white;
        }
    }

    &.disabled,
    &:disabled,
    &[disabled] {
        border-color: $btnWhiteborder;
        background: $btnDisabledBg !important;
        color: $btnDisabledTxt !important;
        cursor: not-allowed !important;
        pointer-events: none !important;
    }

    &.btn-link {
        border: 0;
        color: $blue;

        &:hover {
            text-decoration: underline;
            color: $turqu;
        }

        &.disabled,
        &:disabled,
        &[disabled] {
            border-color: $btnWhiteborder;
            background: none !important;
            color: $btnDisabledTxt !important;
            cursor: not-allowed !important;
            pointer-events: none !important;
        }
    }

    &.btn-large {
        font-size: 16px;
        line-height: 16px;
        padding: 16px;
    }


    &.btn-socail {
        padding: 10px;

        @include breakpoint(sx) {
            margin-right: 5px;
        }
    }

    &.btn-app {
        padding: 10px;
    }
}

/*--------------------------------------------------------------------------------
* Form Items
--------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------
* General Content
--------------------------------------------------------------------------------*/

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(xs) {
        width: 720px;
    }

    @include breakpoint(sm) {
        width: 996px;
    }

    @include breakpoint(md) {
        width: 1250px;
    }

    @include breakpoint(lg) {
        width: 1340px;
    }

    @include breakpoint(xl) {
        width: 1700px;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 12px;
}

.list-wrap {
    display: flex;
    background: blue;
    justify-content: center;
    flex: 1;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background: #f2f2f2;
}

.card {
    width: 320px;
    background: white;
    margin: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e5e5e5;

    img {
        width: 100%;

    }

    @include breakpoint(xs) {
        width: 324px;
    }

    @include breakpoint(sm) {
        width: 300px;
    }

    @include breakpoint(md) {
        width: 276px;
    }

    @include breakpoint(lg) {
        width: 306px;
    }

    @include breakpoint(xl) {
        width: 314px;
    }
}

.section-area {
    display: flex;
    position: relative;
    width: 100%;

    .section-title-container {
        width: 100%;
        margin: 12px;

        h3 {
            float: left;
            @extend .fontRR;
            font-weight: normal;
            font-size: 20px;
            line-height: 40px;

            @include breakpoint(xs) {
                width: 70%;
                line-height: auto;
            }
        }

        a {
            float: right;

            @include breakpoint(xs) {
                width: 30%;
            }
        }
    }

    .section-content {
        display: flex;
        position: relative;
        width: 100%;

        // Eğer kart tipi margin:0 ise;
        &.card-type-m0 {
            margin: 12px;
        }

        &.with-border {
            border: 1px solid #e5e5e5;
            background-color: $white;
            @extend .boxShadow;
            @extend .br4;
        }

        &.banner-border {
            border: 1px solid #e5e5e5;
            @extend .br4;
        }
    }

    .section-card-title {
        color: $midGray;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px;
        margin-bottom: 20px;
        clear: both;

        .main-category-text {
            font-size: 18px;
            float: left;
        }

        .main-category-icon {
            font-size: 33px;
            float: right;
        }
    }

    .section-card {
        background: white;
        margin: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #e5e5e5;

        &.with-border-radius {
            @extend .br4;
        }
    }

    // Kart margin:0 ise;
    .section-card-m0 {
        padding: 20px;
        justify-content: left;
        text-align: left;
        border-right: 1px solid #e5e5e5;

        &:last-child {
            border-right: 0;
        }
    }

    .section-banner-container {
        padding-left: 70px;
        width: 40%;

        .section-banner-title {
            font-size: 30px;

            span,
            strong {
                display: block;
            }
        }

        .section-banner-text {
            font-size: 16px;
            color: $lightGray;
            margin: 20px 0;
        }
    }
}

.section-banner-container {
    padding-left: 70px;
    width: 40%;

    .section-banner-title {
        font-size: 30px;
    }

    .section-banner-text {
        font-size: 16px;
        color: $lightGray;
        margin: 20px 0;
    }
}

.justify-content {
    justify-content: space-between;
    white-space: normal;

    .section-card,
    .section-card-m0 {
        flex: 1 1 0;
    }
}


.sidebar {
    background: #ccc;
    display: flex;
    padding: 12px;
    width: 324px;
    padding-left: 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14);

    img {
        width: 100%;
    }

    @include breakpoint(sx) {
        display: none;
    }

    @include breakpoint(xs) {
        display: none;
    }

    @include breakpoint(sm) {
        display: none;
    }

    @include breakpoint(md) {
        display: flex;
    }
}

ul {
    li {
        list-style: none;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.footer-row {
    margin: 0 12px;
    width: 25%;
    width: calc(25% - 24px);
    color: $midGray;
    font-size: 14px;
    padding-right: 12px;

    &:last-child {
        border-right: 0;
    }

    a {
        color: $midGray;
    }

    ul {
        li {
            line-height: normal;
            height: 40px;

            &:last-child {
                height: auto;
            }
        }
    }
}


//show more
.more {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 29px;

    a {
        font-size: 14px;
        cursor: pointer;

        i {
            font-size: 24px;
            vertical-align: middle;
        }
    }
}
